
{% extends "layout-account.html" %}

{% set showServiceNav = "true" %}
{% set activeServiceNavItem = "payg-home" %}

{% block pageTitle %}
  GOV.UK One Login - Home
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Your GOV.UK One Login
      </h1>
      <p>
        You’re signed in as <span class="govuk-!-font-weight-bold">name@email.com</span> 
      </p>

      <h2 class="govuk-heading-m">Services you've used</h2>

      <div class="service-card--with-title">
        <div class="service-card-title">
          <h3 class="govuk-heading-s">The childcare service</h3>
        </div>
        <div class="service-card-body">
        <p><a href="/childcare/service-childcare-home" class="govuk-link--no-visited-state">Go to your childcare account</a></p>
        <p class="service-card-date">Last used: 10 October 2022</p>
        </div>
      </div>

      <div class="service-card--no-title">
        <p><a href="https://www.gov.uk/request-copy-criminal-record" class="govuk-link--no-visited-state">Request a basic DBS check</a></p>
        <p class="service-card-date">Last used: 22 June 2021</p>
      </div>

      <div class="service-card--with-title">
        <div class="service-card-title">
          <h3 class="govuk-heading-s">Personal tax account</h3>
        </div>
        <div class="service-card-body">
        <p><a href="/pta/service-pta-home" class="govuk-link--no-visited-state">Go to your personal tax account</a></p>
        <p class="service-card-date">Last used: 10 October 2019</p>
        </div>
      </div>

      <div class="service-card--no-title">
        <p><a href="https://www.gov.uk/apply-renew-passport" class="govuk-link--no-visited-state">Apply for a passport</a></p>
        <p class="service-card-date">Last used: 14 May 2018</p>
      </div>
      
      <div class="account-blurb">
      <h2 class="govuk-heading-m">Using GOV.UK One Login</h2>

      <p>You can use GOV.UK One Login to sign in to some services on GOV.UK.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Services you can sign in to with GOV.UK One Login 
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>Apply for a passport</li>
            <li>Dart charge</li> 
            <li>Find a lost teacher reference number (TRN)</li> 
            <li>Licensing for exporting controlled goods (LITE)</li> 
            <li>Personal tax account</li> 
            <li>Recruit an apprentice</li> 
            <li>Register for a National Professional Qualification (NPQ)</li> 
            <li>Request a basic DBS check</li> 
            <li>The childcare service</li> 
          </ul>
        </div>
      </details>

      <p>GOV.UK One Login is currently separate from some other government accounts (for example Universal Credit).</p>

      <p>In the future, you'll be able to use it to sign in to all services on GOV.UK.</p>
    </div>
     
    </div>
  </div>

{% endblock %}
