
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        GOV.UK One Login account prototype
      </h1>

      <p>This is a prototype for testing service integration with the GOV.UK One Login account.</p>


      <h2 class="govuk-heading-m">Task 1</h2>
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Task 1",
        href: "/notify/reconfirmation"
      }) }}

      <h2 class="govuk-heading-m">Task 2</h2>
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Task 2",
        href: "/find-a-lost-teacher-reference-number/start"
      }) }}

    </div>
  </div>

{% endblock %}
